
{% extends 'Home/base_home.html' %}

<!-- Insert block_01 -->
{% block    block_01 %}

                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title h4">Te has deslogueado. ¡Vuelve pronto!</h2>
                        </div>
                    </div>
                </div>

{% endblock block_01 %}
