
{% extends 'Home/base_home.html' %}

        <!-- Insert block_01 -->
        {% block    block_01 %}

                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{articulo.titulo}}</h1>
                            <h2 class="fw-bolder mb-1">{{articulo.subtitulo}}</h2>
                            <!-- Post meta content-->
                            <div 
                                class="text-muted fst-italic mb-2">Publicado {{articulo.fecha_creacion}} 
                            </div>
                            <!-- Post categories-->
                        </header>
                        <!-- Preview image figure-->
                        {% if articulo.imagen %}
                            <figure class="mb-4"><img class="img-fluid rounded" src={{articulo.imagen}} alt="..." /></figure>
                        {% else %}
                            Sin imagen.
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{articulo.contenido}}</p>
                        </section>
                    </article>
                </div>

        {% endblock block_01 %}

