{% extends 'Home/base_home.html' %}

{% block block_01 %}

    <form action={% url 'ArtsSearch' %} method="GET">
        <table >
            {{ form_search_art.as_table }}
        </table>
        <div class="py-3 py-lg-4">
            <button class="btn btn-outline-primary fst-italic"><i class="bi bi-search"></i> Buscar</button>
    </form>

    {% if articulos %}
        {% for articulo in articulos %}
                <a href={% url 'ArtDetail' articulo.id %}>
                    <h4 class="post-title">{{ articulo.titulo }}</h4>
                </a>
                <p class="post-meta">
                    Posteado por {{ articulo.autor }} el {{ articulo.fecha_creacion }}.
                </p>
        {% endfor %}
    {% else %}
        <div class="px-3 px-lg-4 pb-3 pb-lg-4 lead fst-italic">
        <p>No se encontraron publicaciones con los datos ingresados.</p>
        </div>
    {% endif %}

{% endblock block_01 %}