{% extends 'Home/base_home.html' %}

<!-- Insert block_01 -->
{% block    block_01 %}

            <!-- Blog entries-->
                
            <div class="col-lg-8">
                    <!-- Nested row for non-featured blog posts-->
                {% if articulos %}
                {% for articulo in articulos %}    
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- Blog post-->
                                        {% if articulo.imagen %}
                                        <a href="{% url 'ArtDetail' articulo.pk %}"><img class="card-img-top" src="{{articulo.imagen.url}}" alt="..." /></a>
                                        {% else %}
                                        <p>Sin imagen.</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-6">
                                        <!-- Blog post-->
                                        <div class="card-body">
                                            <div 
                                                class="small text-muted">Publicado {{articulo.fecha_creacion}} por
                                                <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'ArtListAutor' articulo.autor.pk %}">{{articulo.autor}}</a>
                                                {% if articulo.autor.avatar %}
                                                <img class="img rounded-circle" src="{{articulo.autor.avatar.imagen.url}}" alt="" height="30px">
                                                {% endif %}
                                            </div>
                                            <a href="{% url 'ArtDetail' articulo.pk %}"><h2 class="card-title h4">{{articulo.titulo}}</h2></a>
                                            <p class="card-text">{{articulo.subtitulo}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}

                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <p>No se encontraron publicaciones.</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

{% endblock block_01 %}       