{% extends 'Home/base_home.html' %}

{% block block_01 %}

    <h1>Artículo Detalle</h1>

    <p>Título:      <i>{{articulo.titulo}}</i></p>
    <p>Subtítulo:   <i>{{articulo.subtitulo}}</i></p>
    <p>Contenido:   <i>{{articulo.contenido}}</i></p>
    <p>Autor:       <i>{{articulo.autor}}</i></p>
    <p>Publicado:   <i>{{articulo.fecha_creacion}}</i></p>

    {% if articulo.imagen %}
        <img src="{{articulo.imagen.url}}" alt="" height="200px">
    {% else %}
        Sin imagen.
    {% endif %}

    {% if articulo.imagen %}
    <a href="#!"><img class="card-img-top" src="{{articulo.imagen.url}}" alt="..." /></a>
    {% else %}
        Sin imagen.
    {% endif %}
        <div class="card-body">
            <div class="small text-muted">{{articulo.fecha_creacion}}</div>
            <h2 class="card-title">{{articulo.titulo}}</h2>
            <h2 class="card-title">{{articulo.subtitulo}}</h2>
            <h2 class="card-title">{{articulo.autor}}</h2>
            <p class="lead mb-0">{{articulo.contenido}}</p>
            <a class="btn btn-primary" href="{% url 'ArtList' %}">Todos los artículos</a>
        </div>

    <p>
        <a href="{% url 'ArtList' %}">Todos los artículos</a>
    </p>

{% endblock block_01 %}