{% extends 'Home/base_home.html' %}

{% block    block_01 %}

    {% if request.user.is_authenticated and articulo.autor == request.user %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            <p> </p>
            <h2>Editar Artículo</h2>
            <p> </p>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table >
                    {{form.as_p}}
                </table>
                <p> </p>
                <button class="submit btn-outline-primary fst-italic"></i> Publicar cambios</button>
                <p> </p>
            </form>
            </div>
        </div>
    </div>

    {% else %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            <p> </p>
            <h2>Debe estar logueado y ser el autor del artículo para poder editarlo o borrarlo.</h2>
            <p> </p>
            </div>
        </div>
    </div>

    {% endif%}

{% endblock block_01 %}
