{% extends 'Home/base_home.html' %}

{% block    block_01 %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
        <p> </p>
        <h2>Eliminar Artículo</h2>
        <p> </p>
        <form action="" method="POST">
            {% csrf_token %}
            ¿Estas seguro que deseas borrar el siguiente artículo?
            <p> <h3>{{articulo.titulo}}</h3></p>
            <button class="submit btn-outline-primary fst-italic"></i> Eliminar</button>
            <p> </p>
        </form>
        </div>
    </div>
</div>


    {% comment %} <h1>Borrar Artículo</h1>

    <form action="" method="POST">
        {% csrf_token %}
        Estas seguro que deseas borrar el artículo {{articulo.titulo}}
        <input type="submit" value="Eliminar">
    </form> {% endcomment %}

{% endblock block_01 %}
