{% extends 'Home/base_home.html' %}

        <!-- Insert block_01 -->
        {% block    block_01 %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{articulo.titulo}}</h1>
                            <h2 class="fw-bolder mb-1">{{articulo.subtitulo}}</h2>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Publicado {{articulo.fecha_creacion}} por {{articulo.autor}}</div>
                            <!-- Post categories-->
                            {% if request.user.is_authenticated and articulo.autor == request.user %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'ArtEdit' articulo.pk %}">Editar artículo</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'ArtDelete' articulo.pk %}">Eliminar artículo</a>
                            {% endif%}
                        </header>
                        <!-- Preview image figure-->
                        {% if articulo.imagen %}
                            <figure class="mb-4"><img class="img-fluid rounded" src="{{articulo.imagen.url}}" alt="..." /></figure>
                        {% else %}
                            Sin imagen.
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{articulo.contenido}}</p>
                        </section>
                    </article>
                </div>
            </div>
        </div>
        
        {% endblock block_01 %}
