
{% extends 'Home/base_home.html' %}

<!-- Insert block_01 -->
{% block    block_01 %}

                {% if request.user.is_authenticated and articulo.autor == request.user %}

                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                ¿Estas seguro que deseas borrar el siguiente artículo?
                                <h2 class="card-title h4">{{articulo.titulo}}</h2>
                                <button class="btn btn-primary"></i> Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <p> </p>
                            <h3>Debe estar logueado y ser el autor del artículo para poder editarlo o borrarlo.</h3>
                        </div>
                    </div>
                </div>
                {% endif %}
            


{% endblock block_01 %}
